<%- include('partials/header'); -%>

<ul class="proteins">
  <li class="protein">
    <img src="/smoothie.png" alt="protein icon">
    <h4>Chocolate Protein Shake</h4>
    <p>Description</p>
       <span class="price">Price</span>
       <form method="post" action="/cart" class="buy-button">
         <!-- <input type="submit" class="buy-button"> -->
      <button class="buy-button" type="submit" >Add to cart</button>
    </form>
  </li>
  <li class="protein">
    <img src="/smoothie.png" alt="protein icon">
    <h4>Banana Protein Shake</h4>
    <p>Description</p>
    <h6>Price</h6>
  </li>
  <li class="protein">
    <img src="/smoothie.png" alt="protein icon">
    <h4>Caramel Protein Shake</h4>
    <p>Description</p>
    <h6>Price</h6>
  </li>
  <li class="protein">
    <img src="/smoothie.png" alt="protein icon">
    <h4>Strawberry Protein Shake</h4>
    <p>Description</p>
    <h6>Price</h6>
  </li>
  <li class="protein">
    <img src="/smoothie.png" alt="protein icon">
    <h4>Cookies Protein Shake</h4>
    <p>Description</p>
    <h6>Price</h6>
  </li>
  <li class="protein">
    <img src="/smoothie.png" alt="protein icon">
    <h4>Secret Protein Shake</h4>
    <p>Description</p>
    <h6>Price</h6>
  </li>
</ul>

<%- include('partials/footer'); -%>